* {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
    color:#fff;
	-webkit-font-smoothing: antialiased; /* убираем жирный шрифт для E+ серий*/
}

#loading {
	position: absolute;
	left: 6px;
	top: 48px;
	width: 948px;
	height: 460px;
	background-color: #000000;
	opacity: .8;
	z-index: 999;
}

#loading IMG{
	margin: 200px 0 0 440px;
	background: transparent;
	opacity: 1;
}

/*@font-face {
	font-family: Century_Gothic;
	src: url('../fonts/Century_Gothic.ttf');
	src: url("../fonts/century_gothic.otf") format('opentype');
}*/

#main {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 540px;
	color: #c0c0c0;
	font-size: 22px;
	background-color: #1f1f1f;
	/*background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	/*font-family: Century_Gothic;*/
}

#statusvol
{
	position: absolute;
	top: 450px;
	left: 0px;
	font-size: 20px;
	text-align:center;
	color: white;
	width: 100%;
	background-color: #000000;
	/*background-image: url("../img/helpbar.png");
	z-index:100;*/
}

.statusline {
	position: absolute;
	top: 40%;
	left: 35%;
	width: 250px;
	padding: 12px 20px 10px 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #222;
	border-radius: 3px;
	/*box-shadow: inset 0px 200px 0px rgba(255,255,255,0.1),
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 5px 5px rgba(255,255,255,0.1),
    inset 0 -5px 10px rgba(0,0,0,0.1),
    0 3px 3px rgba(0,0,0,0.3);*/
	
	z-index: 999;
}

/* hack for C,D series */
.statusline, x:-moz-any-link {
	padding: 10px 20px;
	border: 1px solid #999999;
	background: rgba(51, 59, 70, 0.9);
}

.statusline span {
	font-size: 16px;
	color: white;
	text-shadow: -1px -1px 0 #222,
    1px -1px 0 #222,
    -1px 1px 0 #222,
    1px 1px 0 #222;
}

/*.statusline {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 40%;
	background-color: rgba(0,0,0,0.75);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	z-index:999;
}*/

.statusline_player {
	position: absolute;
	top: 10px;
	right: 100px;
	height: 20px;
	font-size: 16px;
	z-index: 999;
}

#top {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 956px;
	height: 42px;
	background-color: #000;
	/*background-image: url("../img/heder.png");*/
	/*z-index:100;*/
}

/*#logo {
	position: absolute;
	left: 20px;
	top: 11px;
	height: 30px;
	width: 50px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}*/

#title {
	position: absolute;
	left: 20px;
	top: 7px;
	height: 30px;
	width: 780px;
	color: #c0c0c0;
	font-size: 24px;
	font-family: Times New Roman, Times, serif;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*z-index:110;*/
}

#title p {
	display: inline;
	margin-left: 5px;
	color: #c0c0c0;
}

#time {
	position: absolute;
	top: 8px;
	right: 10px;
	line-height: 26px;
	padding-left: 20px;
	color: #FFF;
	font-size: 22px;
	text-align: left;
	white-space: nowrap;
	background: transparent url("../img/time.png") 0px 5px no-repeat;
}

#widget_ver {
	position: absolute;
	top: 6px;
	right: 10px;
	height: 24px;
	color: #FFF;
	font-size: 15px;
	text-align: left;
	white-space: nowrap;
}

/* hack for C,D series */
#widget_ver, x:-moz-any-link {
	top: 5px;
}

#help_line {
	position: absolute;
	top: 512px;
	left: 0px;
	width: 960px;
	height: 28px;
	/*background-image: url("../img/helpbar.png");*/
	background-color: #000000;
	float: left;
	text-align: right;
	overflow: hidden;	
}

#help_line_2 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	text-align:center;
	overflow: hidden;
}

#help_line_2 span {
	text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#help_line_3 {
	position: absolute;
	top: 9px;
	left: 410px;
	width: 520px;
	height: 30px;
	float:left;
	text-align:center;
	overflow: hidden;
	z-index:100;	
}

#HelpLineButton {
    float:left;
	margin-left:5px;
    height: 28px;
}

#HelpLineText
{
	float:left;
    font-size: 14px;
    margin-left:2px;
    line-height: 30px;
    height: 28px;
}

#search-form {
	position: absolute;
	top: 10px;
	left: 90px;
	height: 25px;
}

#search-form label {
	float: left;
	height: 25px;
	color: #c0c0c0;
	margin-right: 15px;
}

#search-form > div {
	float: left;
	height: 25px;
	border-radius: 2px;
	padding-right: 30px;
	background: #f1f4f7 url("../img/search.png") 100% 0 no-repeat;
}

#search-form input {
	float: left;
	height: 25px;
	width: 290px;
	font-size: 19px;
	color: #000000;
	border-radius: 2px;
	background-color: #f1f4f7;
}

.gmt_bg {
	float: left;
	height: 25px;
	width: 60px;
	margin-right: 30px;
	border-radius: 2px;
	background-color: #f1f4f7;
}

#settings {
	position: relative;
	float: left;
	top: 85px;
	left: 60px;
	width: 890px;
	z-index: 5;
}

/* hack for C,D series */
#settings, x:-moz-any-link {
	top: 90px;
}

#settings form {
	float: left;
}

#settings span {
	display: block;
	font-size: 22px;
	padding: 15px 0 5px 0;
	clear: both;
}

#settings label {
	float: left;
	height: 25px;
	line-height: 25px;
	color: #c0c0c0;
	font-size: 19px;
	margin: 0 30px 0 0;
	padding: 0;
}

#settings input {
	color: #000000;
	border-radius: 2px;
	background-color: #f1f4f7;
	padding-left: 5px;
}

#settings .radio {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	margin: 4px 10px 0 0;
	background-image: url("../img/radio_button.png");
	background-position: 0 0;
}

#settings .radio.active {
	background-position: 0 -16px;
}

#settings .radio.disabled {
	background-position: 0 -32px;
}

#settings input[type=text] {
	display: block;
	float: left;
	width: 60px;
	text-align: center;
	margin-right: 30px;
	padding: 0;
	border-radius: 2px;
	font-size: 19px;
}

#settings #descript {
	position: relative;
	float: right;
	top: 20px;
	right: 50px;
	height: 316px; 
	width: 320px;
}

#settings #description {
	position: relative;
	top: 10px;
	left: 10px;
	width: 300px;
	height: 296px;
}

label.selected {
	color: #ff8605 !important;
}

.text{
	float: left;
	height: 25px;
	width: 190px;
	font-size: 19px;
}

#plist {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	height: 540px;
}

#list {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 450px;
	height: 432px;
	overflow: hidden;
}

#list2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#list2 div {
	overflow: hidden;
	height: 24px;
	width: 100%;
	line-height: 24px;
    font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#list2 div span {
	display: inline-block;
	width: 370px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	font-size: 16px;
}

#list2 div b {
	display: inline-block;
	width: 80px;
	text-align: right;
	color: #c0c0c0;
	font-weight: normal;
	margin: 0;
	font-size: 16px;
}

/* hack for C,D series */
#list2 div span, x:-moz-any-link,
#list2 div b, x:-moz-any-link {
	font-size: 17px;
}

#descript {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 460px;
	height: 436px;
	font-size: 16px;
	overflow: hidden;
	background-color: #353535;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.45);
	/*border: 1px solid #4e657a;*/
	border-radius: 0px;
}

/* hack for C,D series 
#descript, x:-moz-any-link {
	height: 430px;
	border: 3px solid #8592af;
}*/

#description {
	position: relative;
	top: 5px;
	right: 5px;
	height: 426px;
	overflow: hidden;
}

/* hack for C,D series 
#description, x:-moz-any-link {
	height: 420px;
}*/

#description a {
	text-decoration: none;
}

#description .poster {
	position: relative;
	top: 0;
	left: 0;
	width: 170px;
	float: left;
	margin-left: 10px;
}

#description .desc {
	position: relative;
	margin: 0px 15px;
}

#description .desc * {
	text-decoration: none;
}

#description .desc img {
	display: none;
}

#loadingDescr {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 436px;
	background-color: #000000;
	z-index: 999;
	opacity: .8;
	border-radius: 10px;
}

/* hack for C,D series */
#loadingDescr, x:-moz-any-link {
	height: 430px;
}

#loadingDescr IMG {
	margin: 180px 0 0 200px;
	background: transparent;
	opacity: 1;
}

#spisok, #playlist {
	position: absolute;
	left: 6px;
	top: 48px;
	width: 948px;
	height: 458px;
	/*box-shadow: 0 0 8px 2px #000;
	border-radius: 4px;*/
	border: none;
}

#playlist {
	background-color: #1f1f1f;
}

#info_top {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 948px;
	height: 25px;
	color: #c0c0c0;
	background-color: #252525;
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0 0 20px #000;
	z-index: 5;
}

#menu, #menu li {
	list-style-type:none;
	padding:0;
	margin:0;
}		

#menu {
	height: 24px;
	border: 1px solid #21263C;
	border-radius: 4px 4px 0px 0px;
}

#menu li {
	display: inline-block;
	float: left;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 18px;
	background: url("../img/crumbs.png") no-repeat right top;
}

#menu li span {
	display: block;
	position: relative;
	display: block;
	top: 1px;
	padding: 0 15px 0 10px;
}

#menu li.active span {
	color: #ff8605;
}

/* hack for C,D series */
#menu li span, x:-moz-any-link {
	position: relative;
	top: 0;
}

#spisok2 {
	position: absolute;
	left: 0px;
	top: 25px;
	width: 948px;
	height: 434px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #1f1f1f;
	border-radius: 0px 0px 4px 4px;
	padding-top: 2px;
	z-index: 1;
}

.block {
	float: left;
	position: relative;
	width: 140px;
	height: 180px;
	line-height: 180px;
	text-align: center;
	margin: 20px 0 0 35px;
	overflow: hidden;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 4px solid #000;
	box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,1.0);
	border-radius: 4px;
	/**/
}

#spisok2.resmore .block {
	width: 100px;
	height: 120px;
	line-height: 120px;
	margin: 10px 0 0 68px;
}

.block > span {
	width: 100%;
	height: 100%;
}

.block > p {
	margin-top: 50px;
	font-size: 18px;
	line-height: 24px;
}

#spisok2 .selected {
	border-color: #cc7b19;
}

.blockImage {
	max-height: 85%;
	max-width: 85%;
	vertical-align: middle;
	margin-top: -4px;
	/* Inner shadow*/
	border-radius: 4px;
	isplay: inline-block;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-moz-box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 15px inset;
  	-webkit-box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 15px inset;
  	box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 15px inset;
  	-webkit-transition: box-shadow 0.2s ease-in;
  	-moz-transition: box-shadow 0.2s ease-in;
  	transition: box-shadow 0.2s ease-in;
  	/*---*/
}

/* hack for C,D series */
.blockImage, x:-moz-any-link {
	margin-top: -10px;
}

#navi_helpertext
{
	margin-top: 14px;
	float:left;
	padding-right:12px;
	padding-left:2px;
}

#player
{
    position:absolute;
	top:480px;
	left:0px;
    width: 960px; 
	height:60px;		
	/*background-image: url("../img/player.png");*/
	background-color: #000;
	z-index: 99;
}

#player .p_firts_line {
    position: absolute;
	top: -480px;
	height: 40px;
	width: 100%;
	/*background: transparent url("../img/player_top.png") 0 100% no-repeat;*/
	background-color: #000;
	text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#play_name {
	position: absolute;
	top: 10px;
	left: 20px;
	height: 20px;
	width: 700px; 
	overflow: hidden;
	text-overflow: ellipsis;
    color : #FFFFFF;
	float: left;
	font-size: 16px;
}

#player_info {
	position: absolute;
	top: 10px;
	right: 100px;
	height: 20px;
	font-size: 16px;
	color : #FFFFFF;
}

#player_time {
	position: absolute;
	top: 10px;
	right: 20px;
	height: 20px;
	float: left;
	padding-left: 20px;
	font-size: 16px;
	color : #FFFFFF;
	background: transparent url("../img/time.png") 0 0 no-repeat;
}

#finishTime {
	position: absolute;
	right: 10px; 
	top: 10px;
	width: 50px;
	text-align:right;
	font-size:16px; 
	color: #ff8605;
	text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}

#player .p_second_line {
	height: 0px;
	padding-top: 31px;
	width: 100%;
}

#player .p_third_line {
    position: absolute;
	top: 5px; 
	left: 30px;
    width: 40px;
}

#timeInfo {
	position: absolute;
	right: 20px; 
	top: 10px;
	color : #FFFFFF;
	width: 200px;
	text-align:center;
	font-size:16px; 
	text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}

#infoMovi
{
    width:640px; 	
}

#progressBarBG
{
	position: absolute;
	left: 230px; 
	top: 11px;
	width: 500px; 
	height: 15px;
	overflow: hidden;
	background-image: url("../img/progressBarBG.png");
}

#progressBar
{
	position: absolute;
	left: 230px; 
	top: 11px;
	width: 0px; 
	height: 15px;
	background-image: url("../img/progressBar.png");
}

.vRol{
	font-size: 14px;
	color: #99FF00;
	text-align: left !important;
}

.link-subtype, .link-subtype B{
/*	font-weight: bold;
	font-size: 16px;*/
	color: inherit;
}

.selected, 
.selected span, 
.selected b, 
.selected .link-subtype, 
.selected .link-subtype b,
.selected .link-subtype span {
	color: #ff8605 !important;
}

.link-subtype {
	display: inline-block;
	padding: 0 0 4px 23px;
	vertical-align: middle;
	text-overflow: ellipsis;
	width: 95%;
}

.link-subtype .voice{
	font-family: Times New Roman, Times, serif;
}

.link-subtype .voice *{
	font-weight: normal;
}

.b-poster-info {
	width: 85px;
	height: 16px;
	display: block;
	
	margin: -25px 5px 0px 50px;
	
	position: relative;
	z-index: 500;
	
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
}

.b-poster-info .quality{
	display:block;
	float:left;
	width:21px;
	height:16px;
	background-image: url("../img/poster-info-quality.png");
	background-repeat:no-repeat;
}

.b-poster-info .quality.m-hd{background-position:0 3px}
.b-poster-info .quality.m-hq{background-position:0 -22px}
.b-poster-info .quality.m-sq{background-position:0 -46px}
.b-poster-info .quality.m-lq{background-position:0 -71px}

#description img {
	/*border: 1px solid #999999;*/
	margin: 5px 10px 10px 5px; 
	max-width: 155px; 
	height: 200px; 
	border-radius: 5px; 
	box-shadow: 0 0 8px black;
}

#description b {
	color: #ff8605;
	font-weight: normal;
}

#description TABLE{
	font-size: 13px;
/*	float: right;*/
	margin:0;
	padding:0;
	margin-top: 10px;
}

#description TABLE TD{
	vertical-align: top;
}

#description TABLE A{
	text-decoration: none;
}

#description TABLE A SPAN{
	color: #ff8605;
}

#description .votes{
	position: absolute;
	right: 245px;
	top: 202px;
	width:148px;
}

.b-tab-item__vote-value{
	float:left;
	margin:9px 0 0 5px;
	padding:0 0 0 16px;
	height:20px;
	font-size:19px;
	line-height:19px
}
.m-tab-item__vote-value_type_yes{
	background:url("../img/vote_yes.png") left 2px no-repeat;
	color:#62b56d
}
.m-tab-item__vote-value_type_no{
	padding-left:17px;
	background:url("../img/vote_no.png") left 4px no-repeat;
	color:#bf5257
}

#info{
    z-index: 99;
    position: absolute;
    top: 65px;
    left: 545px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.92);
    width: 410px;
    height: 440px;
    /*background-image: url("../img/desc.png");*/
}

.info_title {
    color: #c0c0c0;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.info_block {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.b-poster-info {
z-index: 98;
}

#new {
	position: absolute;
	top: 35%;
	left: 26%;
	width: 40%;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	color: white;
	background: rgba(40, 46, 61, 0.75);
	border: 1px solid #222;
	border-radius: 4px;
	box-shadow: inset 0px 200px 0px rgba(255,255,255,0.15),
    inset 1px 1px 0 rgba(255,255,255,0.3),
    inset -1px -1px 0 rgba(255,255,255,0.2),
    inset 0 5px 10px rgba(255,255,255,0.15),
    inset 0 -5px 10px rgba(0,0,0,0.1);
	text-shadow: -1px -1px 0 #222,
    1px -1px 0 #222,
    -1px 1px 0 #222,
    1px 1px 0 #222
	z-index: 999;
}

/* hack for C,D series */ 
#new, x:-moz-any-link {
	border: 4px solid #999999;
	background: rgba(51, 59, 70, 0.95);
}

#new b {
	color: #ff8605;
	font-size: 20px;
	text-shadow: none;
}

/*#new{
z-index: 99;
position: absolute;
top: 30%;
left: 30%;
width: 40%;
height: 30%;
box-shadow: 0 0 8px 2px #000;
background-color: rgba(0,0,0,0.60);
border-radius: 4px 4px 4px 4px;
}*/

#Keyb {
	position: relative;
	left: 70px;
	top: 100px ;
	z-index: 600;
}

#imgKeyb,
#imgKeybCyr {
	position: absolute;
	visibility: hidden;
}

#cursorKeyb {
	position: absolute;
	left: 342px;
	top: 153px ;
	z-index: 700;
	visibility: hidden;
}

#shiftKeyb{
	position: absolute;
	left: 16px;
	top: 175px ;
	z-index: 650;
	visibility: hidden;
}

#fon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/music_fon.jpg");
}

#stroka{
	padding-top: 50px;
	font-size: 20px;
	font-family: Times New Roman, Times, serif;
	color: #FFF;
}

#stroka span {
	color: #D3D3D3;
}

#confirmBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 540px;
	background-color: rgba(0,0,0,0.85);
	z-index: 98;
}

#confirmBox > div  {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 400px;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	color: white;
	background: rgba(0, 0, 0, 0.75);
	border: 1px solid #000;
	border-radius: 4px;
	/*box-shadow: inset 0px 200px 0px rgba(255,255,255,0.15),
    inset 1px 1px 0 rgba(255,255,255,0.3),
    inset -1px -1px 0 rgba(255,255,255,0.2),
    inset 0 5px 10px rgba(255,255,255,0.15),
    inset 0 -5px 10px rgba(0,0,0,0.1);*/
	z-index: 999;
}

/* hack for C,D series */ 
#confirmBox > div, x:-moz-any-link {
	border: 3px solid #999999;
	background: rgba(51, 59, 70, 0.95);
}

#confirmBoxTitle {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
	text-shadow: -1px -1px 0 #222,
    1px -1px 0 #222,
    -1px 1px 0 #222,
    1px 1px 0 #222;
}

#confirmBoxTitle b{
	display: inline-block;
	width: 100%;
	color: #99FF00;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

#confirmBox > div span {
	position: relative;
	display: inline-block;
	bottom: 0;
	width: 80px;
	text-align: center;
	margin: 10px;
	padding: 5px;
	background-color: grey;
	color: #FFFFFF !important;
	border: 1px solid #FFFFFF;
}

#confirmBox > div span.selected {
	background-color: #ff8605;
}

.helpLineButton {
	float: left;
    height: 30px;
	line-height: 28px;
	padding-top: 2px;
	padding-left: 5px;
    font-size: 14px;
}

.helpLineButton img {
	float:left;
	margin-top: -1px;
	line-height: 28px;
}