<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Start Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  </head>
  <body align="center">
    Name:<input ng-model="name" type="text"/>
    <br>
    Name:<input ng-model="name" type="text"/>
    <br>
    Name:<input ng-model="name" type="text"/>
    <br>
    Hello {{name}}
    <br>
  </body>
</html>
